#
# Ignore all files, enables us to whitelist afterwards.
#

*

#
# Repository dependencies.
#

!.gitconfig
!.gitignore
!README.md

#
# Setup.
#

!.setup/

#
# Configuration.
#

!.aliases
!.bashrc
!.bash_profile
!.exports
!.zshrc
!.vim
!.atom
