#
# Ignore all files, enables us to whitelist afterwards.
#

*

#
# Repository dependencies.
#

!.gitconfig
!.gitignore
!README.md

#
# Configuration.
#

!config.sh
!Brewfile
!Caskfile

#
# Tools[1].
#

!.bashrc
!.bash_profile
!.zshrc
!.vim
