# javascript snippets
#   Author: Yoshua Wuyts
#   License: MIT

snippet f "function"
function (${1:args}) {
	${2:${VISUAL}}
}
endsnippet

snippet fn "function"
// ${1:description}
// ${2:signature}
function (${2:args}) {
	${4:${VISUAL}}
}
endsnippet

snippet c "const"
const ${1:var} = ${2:val}
endsnippet
