'global':
  'exception-reporting':
    'userId': '9d041072-abc0-ea2e-b7ca-ca3b4ce8744c'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '98d5d79a1a1943670b58ba8b21304b919cd84c0f'
  'editor':
    'showIndentGuide': true
    'fontFamily': 'Source Code Pro'
    'autoIndentOnPaste': false
    'fontSize': 14
  'core':
    'themes': [
      'spacegray-eighties-ui'
      'tomorrow-night-eighties'
    ]
    'useReactEditor': true
    'audioBeep': false
  'linter':
    'showHighlighting': false
    'statusBar': 'Show error if the cursor is in range'
  'atom-jsfmt':
    'formatOnSave': false
  'minimap':
    'plugins':
      'highlight-selected': true
  'autoclose-html': {}
