[Unit]
Description=RSI prevention tool
Documentation=https://www.archlinux.org/packages/community/x86_64/workrave/

After=display-manager.service

[Service]
ExecStart=/usr/bin/workrave
Restart=always

[Install]
WantedBy=default.target
