[Unit]
Description=RSI prevention tool
Documentation=https://www.archlinux.org/packages/community/x86_64/workrave/
After=graphical.target

[Service]
Type=simple
User=%i
Environment=LC_ALL=C
ExecStart=/usr/bin/workrave

[Install]
WantedBy=main.target
